* {box-sizing: border-box;}
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background-color: whitesmoke;
	
	
}

	
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: gainsboro;

	
}

.logo {
	color: #fff;
	font-weight: bold;
	/*text-align: undefined; need to figure this out*/
	width: auto;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}

nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}

header nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}

ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

ul li:hover a {
	color: slategrey;
}



/* Hero Section */

.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	transform: translateY(560%);
	text-shadow: 0.5px 0.5px black;
	
  
}

.hero {
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url(/assets/images/logo1-01.svg);
	background-repeat: no-repeat;
	background-position: center;
	
	
}

.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
	transform: translateY(855%);
	text-shadow: 0.5px 0.5px black;
}



/* Style main content/image*/

/*.flex-item-left {
	padding: 200px;
	background-image: url("/assets/images/Background.png");
	background-repeat: no-repeat;	
		

}

.textsize {
text-align: right;
font-size: 50px;
}*/

.responsive {
	width: 100%;
	height: auto;
	
  }
.flex-item-right {
	text-align: center;
	
	
}

#img1 {
	filter: drop-shadow(0 0 0.15rem black);
}



	/* Style the footer */
	footer {
		background-color: gainsboro;
		padding-bottom: 5px;
	}

	.footer_banner {
		background-color: gainsboro;
		padding-top: 60px;
		padding-bottom: 60PX;
		margin-bottom: 0px;
		display: none;
	}

	.footer_banner h5 {
		display: none;
	}

	.footer {
		text-align: center;
		padding-top: 2px;
		padding-bottom: 2px;
		background-color: #717070;
		color: #FFFFFF;
		text-transform: uppercase;
		font-weight: lighter;
		letter-spacing: 2px;
		border-top-width: 2px;
		
		
	}

	.links{
		text-align: center;
		list-style: none;
	}

	footer {
		display: inline-block;
	}

	.button {
		width: 200px;
		margin-top: 40px;
		margin-right: auto;
		margin-bottom: auto;
		margin-left: auto;
		padding-top: 20px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px;
		text-align: center;
		vertical-align: middle;
		border-radius: 0px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		border: 3px solid #FFFFFF;
		color: #FFFFFF;
		transition: all 0.3s linear;
	}
	.button:hover {
		background-color: #FEFEFE;
		color: #C4C4C4;
		cursor: pointer;
	}
	

/* Mobile */
@media (max-width: 320px) {
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}
	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		display: none;
	}
	header nav ul { 
	}
		nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
	}
	.hero_header {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}

	.textsize {
		
	}
		
	}

	/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		color: #043745;
	}
	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		overflow: auto;
		display: inline-block;
		background: silver;
	}
	header nav ul {
		padding: 0px;
		float: none;
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.footer {
		width: 100%;
	}
	
}


