
/* Body */

* {
	box-sizing: border-box;
}
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;	
}

/* Container */

.container {
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: whitesmoke;
}

/* Navigation */


header {
	width: 100%;
	height: 5%;
	background-color: #9e9595;	
}

.logo {
	color:black;
	font-weight: bold;
	width: auto;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: slategrey;
}


/* Style main content/images */

.responsive {
	width: 100%;
	height: auto;
  }

  .responsive-auto {
	width: 100%;
	height: 800px;
	  
  } 
.flex-item-right {
	text-align: center;	
}

#img1 {
	filter: drop-shadow(0 0 0.5rem black);
	
}

#couple {
	filter: drop-shadow(0 0 2rem black);
}

.dance{
	color: #646262;
	letter-spacing: 2px;
	line-height: 25px;
	
		
}

.questions {
	color: #646262;
	letter-spacing: 2px;
	line-height: 25px;
}

#mind-body {
	text-align: center;
	color: #646262;
	letter-spacing: 2px;
	line-height: 25px;
}

iframe {
	width: 400px;
	height: 200px;
}
	
/* Hero Section*/

.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	text-shadow: 0.5px 0.5px black;
}


.hero {
	background-color: #807878;
	padding-top: 100px;
	padding-bottom: 100px;
    background-image: url("../images/geometric_logo.png");
	background-size: 90px;
	background-position: center;
	background-repeat: no-repeat;	
	
}

.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 54px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	
}

/* Form */
form {
	margin-top: 2rem;
}

.connect {
	color: #646262;
}


/* Footer */

/* More info */

footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}

#submit {
   background-color: #363333;
   color: #FFFFFF;
   border: 3px solid #857d7d;

}

#feedback {
	border: 23px solid #524d4d;
}

#name-field {
	border: 0.2px solid #524d4d;
}

#email-field {
	border: 0.2px solid #524d4d;
}

.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #6d5959;
	text-align: center;
}
footer .footer_column p {
	color: #998c8c;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #5e5858;
	color: #a19696;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #9e9595;
	color: #413d3d;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #717070;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

.image_logo {
	width: 5%;
	height: 5%;
}

/* Style social media icons */

	.fa {
		padding: 20px;
		font-size: 30px;
		width: 75px;
		text-align: justify;
		text-decoration: none;
		margin: 5px 2px;
		
	  }
	  
	  .fa:hover {
		opacity: 0.9;
		color: #111010;
	}
	  
	  .fa-instagram {
		color: white;
	  }
	  
	  
	  .fa-soundcloud {
		color: white;
	  }

	  .fa-youtube {
		color: white;
	  }

	  
	  #fa {
		  text-align: center;
	  }


/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
	
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}

.footer_column {
	width: 100%;
	margin-top: 0px;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 75px;
	text-align: justify;
	text-decoration: none;
	margin: 5px 2px;
	float: inherit;
	
  }

.banner {
	background-color: #998989;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
	
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}

.footer_column {
	width: 100%;
}

}


/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #8b8787;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px; 
	
}

.footer_column {
	width: 100%;
	margin-top: 0px;
}


.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {

.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}


/* For mobile phones: */
  
  @media screen and (max-width: 620px) {
	
	.container  {
	 max-width: 100%;
	 max-height: inherit;
	}

	.logo {
		max-width: 100%;
		max-height: inherit;
	}

	.nav {
		max-width: 100%;
		max-height: inherit;
	}

	#feedback {
		max-width: 100%;
		max-height: inherit;
	
	}
	.footer_column {
		max-width: 100%;
		max-height: inherit;
	}
	
	.cards {
		width: auto;
	}

	iframe {
		width: 100%;
		height: auto;
	}
	#mind-body {
		font-size: 4vw;
		letter-spacing: 2px;
	    line-height: 25px;
		margin-left: 20px;
		margin-right: 20px;
	}

	#margins {
		margin-left: 20px;
		margin-right: 20px;
	}
	#margins-2 {
		margin-left: 20px;
		margin-right: 20px;
	}
	#margins-3 {
		margin-left: 20px;
		margin-right: 20px;
	}

	#margins-4 {
		font-size: 4vw;
		letter-spacing: 2px;
		margin-left: 20px;
		margin-right: 20px;
	}
	#margin-5 {
		margin-left: 20px;
		margin-right: 20px;
	}
  }
 